<article class="module width_full">
  <header>
    <h3 class="tabs_involved">
      <%= icon 'milestone' %>
      <%= t('project.milestones') %>
    </h3>
  </header>
  <a name="milestones" href=""></a>
  <div class="module_content">
    <%= render @project.milestones, :project => @project %>
  </div>
  <% if can? :manage_milestone, @project %>
    <footer>
      <ul class="actions">
        <li><%= link_to new_project_milestone_path(@project),
          :class => :btn do icon('add') + t(:new_milestone) end %>
        </li>
      </ul>
    </footer>
  <% end %>
</article>

<% ['task', 'bug', 'idea'].each do |tag| %>
<article class="module width_full">
  <header>
    <h3 class="tabs_involved">
      <%= icon tag %>
      <%= t("project.#{tag}s") %>
    </h3>
  </header>
  <a name="tasks" href=""></a>
  <div class="module_content">
    <%= render @project.issues.where(['label = ?', tag]) %>
  </div>
  <footer>
    <ul class="actions">
      <li><%= link_to new_project_issue_path(@project) + "/#{tag}", :class => :btn do icon('add') + t("new_#{tag}") end %></li>
    </ul>
  </footer>
</article>
<% end %>

<article class="module width_full">
  <header>
    <h3 class="tabs_involved">
      <%= icon 'doc' %>
      <%= t('project.docs') %>
    </h3>
  </header>
  <a name="docs" href=""></a>
  <div class="module_content">
    <%= render @project.documents, :project => @project %>
  </div>
  <footer>
    <ul class="actions">
      <li><%= link_to new_project_document_path(@project), :class => :btn do icon('add') + t(:new_document) end %></li>
  </footer>
</article>

<% if current_user.root? %>
  <h4 class="alert_error"><%= link_to t(:delete), @project, :method => :delete, :confirm => t(:delete_confirm) %></h4>
<% end %>

<div class="clear"></div>
